

/*Seccion Empresa*/

.section-empresa {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px 30px;
  }
  
  .main-section-empresa-content {
  text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: var(--color3);
  }
    
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--color4);
    margin: 2rem 0rem;
    text-align: justify;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color3);
    margin: 2rem 0;
  }
  
  .main-section-empresa-content h1, .main-section-empresa-content h2 {
    text-align: center;
  }

  
@media screen and (min-width: 768px) {

  h1 {
    font-size: 2.8rem;
  }
    
  p {
    font-size: 1.1rem;
    text-align: justify;
  }
  
  h2 {
    font-size: 2rem;
  }

  }

@media screen and (min-width: 1024px) {
    
/*Seccion Empresa*/

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: left;
  }
    
  p {
    font-size: 1.2rem;
    margin-bottom: 60px;
    line-height: 1.6rem;
    text-align: justify;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
  }
  
  .section-empresa {
    display: flex;
    gap: 5rem;
  }
  
  .main-section-empresa-content {
    text-align: justify;
  }
  
}