/*Footer*/

footer {
  background-color: var(--color4);
  color: var(--color2);
  padding: 20px 30px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  max-width: 1200px;
}

.logo-footer {
  width: 200px;
}

.footer-section {
  flex: 1;
  margin: 15px 15px;
  min-width: 200px;
  color: var(--color2);
}

.footer-section .contacto {
  margin-top: 25px;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0;
}

.footer-section h2,
.footer-section h3 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer-section p {
  font-size: 0.7rem;
  color: var(--color2);
  text-align: justify;
}

.contacto-a {
  font-size: 0.9rem;
  color: var(--color2);
}

.subcontent-footer {
  display: flex;
  flex-direction: column;
}

.footer-section ul,
.footer-section li {
  font-size: 0.9rem;
  color: var(--color2);
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin: 18px 0;
  font-size: 0.9rem;
}

.footer-section ul li a {
  color: var(--color2);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.redes {
  margin-top: 25px;
}

.icon-whatsapp,
.icon-envelope,
.icon-instagram,
.icon-linkedin {
  color: var(--color2);
  font-size: 1.5rem;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-section {
    min-width: min-content;
  }

  .footer-description {
    min-width: 220px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 20px 0;
  }

  .footer-container {
    justify-content: space-between;
    gap: 40px;
  }

  .footer-menu {
    padding: 0 70px;
  }

  .subcontent-footer {
    flex-direction: row;
    width: 43%;
    gap: 40px;

  }
  .footer-section h2,
  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 0.8rem;
  }

  .contacto-a {
    font-size: 1rem;
  }

  .footer-section ul,
  .footer-section li {
    font-size: 1rem;
  }

  .footer-section ul li {
    font-size: 1rem;
  }

  .icon-whatsapp,
  .icon-envelope,
  .icon-instagram,
  .icon-linkedin {
    font-size: 1.75rem;
  }
}
