/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

/*Paleta de colores*/
:root{
  --color1:#780EA7;
  --color2:#ffffff;
  --color3:#0E357A;
  --color4:#272727;
  --color5:#FBF3FF;
  --color6:#5c0481;
  --color7:#EFEFEF;
}

/*Estilos Generales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}


.body {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color4);
  }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/*Header*/

header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 25%;
}

.icon-menu,
.icon-cross {
  display: block;
  font-size: 1.5rem;
  color: var(--color3);
}

.menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: end;
  gap: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color2) ;
  padding: 2rem;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
}

.menu.visible {
  opacity: 1;
  visibility: visible;
}

.lista-menu {
  align-items: end;
  list-style-type: none;
  gap: 3rem;
} 

/*Seccion 1*/

.section-1 {
  position: relative;
  background-image: url(../img/fondo\ 3.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  /* padding:2rem */
}

.section-1-title,
.section-1-description {
  color: var(--color2);
}

.section-1-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.section-1-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-generic{
  min-width: 210px;
  display: flex;
 justify-content: center;
}

.btn-personal, .btn-empleo {
  padding: 10px 20px;
  background-color: var(--color2);
  color: var(--color1);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-personal:hover, .btn-empleo:hover{
  background-color: var(--color1);
  color: var(--color2);
  border: 1px solid var(--color5);
}

.main-section-1-content {
  text-align: start;
  width: 90vw;
  max-width: 700px;
  margin: auto;
}


/*Seccion 2*/

.section-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 30px;
}

.main-section-2-content {
text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--color3);
  text-align: center;
}
  
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--color4);
  margin: 2rem 0rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--color3);
  margin-bottom: 2rem;
}

.main-section-2-content h1, .main-section-2-content h2 {
  text-align: center;
}

  /*Service Seccion*/

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-grid {
  background-color: var(--color1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  padding: 20px;
}

.service-item {
  background-color: var(--color2);
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  height: auto;
}

.service-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.service-item h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    color: var(--color4);
}

.text-section {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-left: 0;
  width: 100%;
  text-align: center;
  padding: 40px 30px;
}

.text-section h1 {
  text-align: center;
}

.text-section p {
  text-align: justify;
  line-height: 1.5;
  color: var(--color4);
  margin-bottom: 20px;
}

.btn, .contactanos {
    display: inline-block;
    background-color: var(--color1);
    color: var(--color2);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.btn:hover, .contactanos:hover {
  background-color: var(--color6);
}


/*Seccion 4*/

.section-4 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color5);

  gap: 70px;
}

/* .main-section-4-content {
  max-width: 600px;
  
} */

.fondo {
  background-color: var(--color5);
  display: flex;
  justify-content: left;
  align-items: center; 
  padding: 40px 30px;
}

.section-4-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--color3);
  margin-bottom: 2rem;
}

.section-4-description {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
  color: var(--color4);
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1rem;
  line-height: 1.2;
  position: relative;
  color: var(--color4);
}

.pasos {
  display: flex;
  align-items: center;
  gap: 10px;
}

p {
  font-size: 1rem;
  color: var(--color4);
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.numero-seccion-candidatos{
  width: 35px;
  height: 35px;
}

.img-section {
  width: 100%;
}

/*Seccion quienes somos*/

.section-quienes-somos {
  padding: 40px 30px;
  text-align: center;
}

.section-quienes-somos-title {
  font-size: 2rem;
  color: var(--color3);
  margin-bottom: 3rem;
  text-align: center;
}

.section-quienes-somos-description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color4);
  margin-bottom: 40px;
  text-align: justify;
}

.ctn-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: var(--color7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1;
}

.card:hover {
  background-color: var(--color2);
}

.card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.card h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--color4);
}

.card p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--color4);
}

/*Footer*/

footer {
  background-color: var(--color4);
  color: var(--color2);
  padding: 20px 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
 }

.logo-footer {
  width: 50%;
}

.footer-section {
  flex: 1;
  margin: 15px 15px;
  min-width: 200px;
  color: var(--color2);
}


.footer-section .contacto {
 margin-top: 25px;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0;
}

.footer-section h2, .footer-section h3 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer-section p {
  font-size: 0.7rem;
  color: var(--color2);
  text-align: justify;
}

.contacto-a {
  font-size: 0.9rem;
  color: var(--color2);
}

.footer-section ul, .footer-section li {
  font-size: 0.9rem;
  color: var(--color2);
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin: 18px 0;
  font-size: 0.9rem;
}

.footer-section ul li a {
  color: var(--color2);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.redes {
  margin-top: 25px;
}

.icon-whatsapp, .icon-envelope, .icon-instagram, .icon-linkedin {
  color: var(--color2);
  font-size: 1.5rem;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  


}

@media screen and (min-width: 1024px) {

header {
  max-width: 1200px;
  padding: 2rem;
}
.logo {
  width: 25%;
}


.menu {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: row;
  position: static;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  box-shadow: none;
}

.lista-menu {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 1rem;
}

.lista-menu a {
  display: block;
  padding: 10px;
  color: var(--color3);
} 

.lista-menu a:hover {
  background-color: var(--color1);
  color: var(--color2);
  border-radius: 5px;
}

.icon-menu,
.icon-cross {
  display: none;
}

.section-1 {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.section-1-title {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}

.section-1-description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

/* .btn-personal, .btn-empleo {
  padding: 15px 30px;
  background-color: var(--color2);
  color: var(--color1);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
} */

.btn-personal:hover, .btn-empleo:hover{
  background-color: var(--color1);
  color: var(--color2);
  border: 1px solid var(--color5);
}

.main-section-1-content {

  padding-left: 30px;
}

/*Seccion 2*/

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--color3);
  text-align: left;
}
  
p {
  font-size: 1.2rem;
  color: var(--color4);
  margin-bottom: 60px;
  line-height: 1.6rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--color3);
  margin-bottom: 3rem;
}

.section-2 {
  display: flex;
  gap: 5rem;
}

.main-section-2-content {
  text-align: justify;
}


 /*Service Seccion*/

 .services-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.services-grid {
background-color: var(--color1);
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
width: 50%;
padding: 30px;
}

.service-item {
background-color: var(--color2);
padding: 20px;
text-align: center;
justify-content: center;
border-radius: 10px;
height: 200px;
}

.service-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 0.9rem;
  margin-top: 10px;
  color: var(--color4);
}

.text-section {
display: flex;
flex-direction: column; 
align-items: flex-end; 
padding-left: 100px;
width: 50%;
}

.text-section h1 {
text-align: end;
}

.text-section p {
text-align: justify;
line-height: 1.5;
color: var(--color4);
margin-bottom: 20px;
}

.btn, .contactanos {
  display: inline-block;
  background-color: var(--color1);
  color: var(--color2);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover, .contactanos:hover {
background-color: var(--color6);
}

/*Seccion 4*/

.section-4 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color5);
  margin: 50px auto;
  padding: 50px 0 50px 50px;
  max-width: 1200px;
  gap: 90px;
}

.main-section-4-content {
  max-width: 600px;
  
}

.section-4-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--color3);
  margin-bottom: 3rem;
}

.section-4-description {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: var(--color4);
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1.2rem;
  line-height: 1.6;
  position: relative;
  color: var(--color4);
}

.pasos {
  display: flex;
  align-items: center;
  gap: 20px;
}

p {
  font-size: 1.2rem;
  color: var(--color4);
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.numero-seccion-candidatos{
  width: 50px;
  height: 50px;
}

.img-section {
  max-width: 450px;
  width: 100%;
}

/*Seccion quienes somos*/

.section-quienes-somos {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-quienes-somos-title {
  font-size: 3.5rem;
  color: var(--color3);
  margin-bottom: 2.5rem;
  text-align: center;
}

.section-quienes-somos-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color4);
  margin-bottom: 60px;
  text-align: justify;
}

.ctn-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 90px;
}

.card {
  background-color: var(--color7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  text-align: center;
  flex: 1;
}

.card:hover {
  background-color: var(--color2);
}

.card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color4);
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color4);
}

/*Footer*/

footer {
  background-color: var(--color4);
  color: var(--color2);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
 }

.logo-footer {
  width: 70%;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0;
}

.footer-section h2, .footer-section h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.8rem;
  color: var(--color2);
  text-align: justify;
}

.contacto-a {
  font-size: 1rem;
}

.footer-section ul, .footer-section li {
  font-size: 1rem;
}

.footer-section ul li {
  margin: 18px 0;
  font-size: 1rem;
}

.icon-whatsapp, .icon-envelope, .icon-instagram, .icon-linkedin {
  color: var(--color2);
  font-size: 1.75rem;
  margin-right: 10px;
}

}

